doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no")
    script(src="/lib/urturn-expression-api.min.js", type="text/javascript")
    link(href="/lib/urturn-expression-api.min.css", rel="stylesheet", type="text/css")

    - for (var i in scripts) {
      script(src=scripts[i], type="text/javascript")
    - }

    - for (var i in stylesheets) {
      link(href=stylesheets[i], rel="stylesheet", type="text/css")
    - }

    != head
  body
    .urturn-page
      != body
