doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css', type="text/css")
    script(type='text/javascript', src="/javascripts/sandbox.js")
    script(type='text/javascript', src="/lib/urturn-expression-api/urturn-expression-api.js")
  body
    block content