body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

.expression-list li {
  width: 33%;
  float: left;
}

.iframe {
  width: 100%;
  min-height: 300px;
  border: none;
}

.expression-list h4 {
  font-size: 13px;
}
.expression-list .description {
  font-size: 10px;
}


/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/