#sandbox {
  padding-top: 20px;
}
.sidebar-nav {
  padding: 9px 0;
}

.iframe {
  width: 100%;
  border: none;
}

.feed .iframe {
  width: 500px;
  height: auto;
}
.desktop .iframe {
  width: 576px;
  height: auto;
}
.iphone .iframe { 
  width: 320px;
  height: auto;
}

@media (min-width: 1200px) { 
  .expression-list li {
    width: 33%;
    float: left;
    height: 300px;
    overflow: hidden;
  }
}
@media (min-width: 768px) and (max-width: 1199px) { 
  .expression-list li {
    width: 50%;
    float: left;
    height: 300px;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .expression-list li {
    width: 100%;
  }
}

.expression-list .box {
  padding-right: 8px;
}
.expression-list .expression-item-title {
  font-weight: bold;
}
.expression-list .expression-item-idcard {
  font-size: small;
}
.expression-list .description {
  font-size: small;
}

.devices-selector-btn {
  position: absolute;
  display:none;
  right: 20px;
}

.post-list {
  max-height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollbox {
  overflow: auto;

  background: -webkit-linear-gradient(white 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */ -webkit-radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), transparent), -webkit-radial-gradient(50% 100%,farthest-side, rgba(0, 0, 0, .2), transparent) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.btn-disabled.post-button {
  display: none;
}

.btn-disabled.post-button.btn-primary {
  display: inline-block;
}

#controls * {
  max-width: 100%;
  word-wrap: break-word;
}
/* Add a black border to the iframe */

.expression-bounding-box iframe {
  border: 16px solid rgb(225, 225, 225);
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;
}

/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/